In [3]:
a = "python"
b = iter(a)
print(next(b))
print(next(b))
print(next(b))
print(next(b))
print(next(b))
print(next(b))

# Iter(object) -> it converts Iterable to iterator.

p
y
t
h
o
n

In [5]:
lst = [1,2,3,4]
n = len(lst)
i=n-1
while(i>=0):
    print(lst[i])
    i=i-1

4
3
2
1

In [8]:
lst = ['Mathematics', 'chemistry', 1997, 2000] 
lst.append(20544)
print(lst)

['Mathematics', 'chemistry', 1997, 2000, 20544]

In [13]:
lst.insert(5,5601)
lst.insert(0,101)

In [14]:
print(lst)

[101, 'Mathematics', 'chemistry', 1997, 2000, 20544, 5601, 5601, 5]

In [15]:
lst1 = [1,5,6,7]
lst.extend(lst1)

In [18]:
print(lst)

[101, 'Mathematics', 'chemistry', 1997, 2000, 20544, 5601, 5601, 5, 1, 5, 6, 7]

In [19]:
lst = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
lst.count(2)

4

In [21]:
# first occurrence
lst.index(3)

2

In [22]:
lst.sort(reverse=True)

In [23]:
print(lst)

[3, 3, 2, 2, 2, 2, 1, 1, 1, 1]

In [24]:
lst.pop(0)

3

In [25]:
print(lst)

[3, 2, 2, 2, 2, 1, 1, 1, 1]

In [26]:
lst.pop()

1

In [27]:
lst

[3, 2, 2, 2, 2, 1, 1, 1]

In [30]:
del lst[0] # using index deletion

In [29]:
lst

[2, 2, 2, 2, 1, 1, 1]

In [32]:
# Using Value index deletion
lst.remove(2)

In [33]:
lst

[2, 2, 1, 1, 1]

In [36]:
# Local and Global Variable
def test():
    s = "be like heralal !"
    print(s)
test()

be like heralal !

In [38]:
# Global Variable

def test():
    global s
    s+='GFG'
    print("inside function",s)
s = "Be like hhr"
test()

inside function Be like hhrGFG

In [39]:
# Tuples

In [41]:
tp = ("Geek","HHR",1,2)

In [44]:
tp
print(type(tp))

<class 'tuple'>

In [43]:
tp1 = ("hhtyup")
type(tp1)

str

In [46]:
tuple_constructor = tuple(('hhr','dsa'))
print(tuple_constructor)

('hhr', 'dsa')

In [48]:
# concatenate
tp1 = (0,1,2,3)
tp2 = ('python','geek')
print(tp1+tp2)

(0, 1, 2, 3, 'python', 'geek')

In [49]:
# nesting

tp1 = (0,1,2,3)
tp2 = ('python','geek')
(tp1,tp2)

((0, 1, 2, 3), ('python', 'geek'))

In [50]:
tp3 = ('python',)*6
tp3

('python', 'python', 'python', 'python', 'python', 'python')

In [53]:
tp1 = (0 ,1, 2, 3)
tp1[2:4]

(2, 3)

In [55]:
# dictionary

vals = {1:'geeks',2:'for',3:'iop'}

vals1 = {'Name': 'heeralal',1:[1,2,3,4]}
print(vals1)

{'Name': 'heeralal', 1: [1, 2, 3, 4]}

In [57]:
d = dict({1:'gek',2:'for'})
print(d)

{1: 'gek', 2: 'for'}

In [3]:
Dict = {1: 'Geeks', 2: 'For',
        3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}
print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [7]:
lst = []
ans = ""
for key,value in Dict.items():
    #print(Dict[key])
    if(isinstance(Dict[key],dict)==False):
        lst.append(Dict[key])
        ans+=Dict[key]
        ans+=" "
    val = Dict[key]
    #print(type(val))
    if(isinstance(Dict[key],dict)==True):
        for key,value in Dict[key].items():
            lst.append(val[key])
            ans+=val[key]
            ans+=" "
print(lst)
print(ans)

['Geeks', 'For', 'Welcome', 'To', 'Geeks']
Geeks For Welcome To Geeks

In [89]:
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

In [90]:
Dict.get(3)

'Geeks'

In [91]:
Dict = {'Dict1': {1: 'Geeks'},
        'Dict2': {'Name': 'For'}}

In [96]:
for key,value in Dict.items():
    val = Dict[key]
    print(val)
    if(isinstance(val,dict)==True):
        for key,value in val.items():
            print(val[key])

{1: 'Geeks'}
Geeks
{'Name': 'For'}
For

In [97]:
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

In [98]:
del(Dict[1])

In [99]:
Dict

{'name': 'For', 3: 'Geeks'}

In [1]:
val = {}

dict

In [12]:
Dict = {'Dict1': {1: 'Geeks'},
        'Dict2': {'Name': 'For'}}

In [13]:
Dict['Dict2']['Name']

'For'

In [14]:
Dict.update({"Dict3":"White"})

In [15]:
Dict

{'Dict1': {1: 'Geeks'}, 'Dict2': {'Name': 'For'}, 'Dict3': 'White'}

In [17]:
Dict.setdefault('val',200)

200

In [18]:
Dict

{'Dict1': {1: 'Geeks'}, 'Dict2': {'Name': 'For'}, 'Dict3': 'White', 'val': 200}

In [19]:
a = [1,2,3,[4,5,[6]]]

In [24]:
for i in a:
    if(isinstance(i,list)==True):
        for k in i:
            if(isinstance(k,list)==True):
                for j in k:
                    print(j)
            else:
                print(k)
    else:
        print(i)

1
2
3
4
5
6

In [51]:
class company:

    def __init__(self,name,company):
        self.name = name
        self.company = company

    def fun(self):
        val = "hello " + self.company + " we have " + self.name + " with us"
        print(val)
    
    def __str__(self):
        return f"{self.name} is working in {self.company}"

In [52]:
val = company("rohan","Microsoft") 
val.fun()

print(val)

hello Microsoft we have rohan with us
rohan is working in Microsoft

In [5]:
X = np.array([[100, 129, 157, 133], [168, 150, 30, 19], [4, 148, 106, 74], [123, 195, 60, 93], [169, 40, 188, 179], [40, 59, 29, 94], [165, 126, 16, 99], [167, 157, 65, 23], [128, 87, 37, 111], [191, 154, 89, 134], [101, 41, 145, 112], [43, 110, 197, 118], [147, 22, 109, 139], [11, 161, 135, 119], [26, 48, 199, 182], [96, 100, 82, 87], [149, 2, 8, 10], [5, 38, 166, 100], [193, 117, 59, 164], [133, 5, 38, 163], [88, 177, 84, 114], [9, 132, 177, 24], [94, 130, 83, 131], [77, 11, 141, 81], [154, 198, 175, 98], [21, 148, 170, 122], [185, 145, 101, 183], [100, 196, 111, 11], [97, 147, 112, 11], [25, 97, 95, 45], [6, 89, 88, 38], [51, 16, 151, 3], [90, 174, 122, 157], [2, 133, 121, 199], [15, 78, 163, 180], [103, 118, 7, 179], [102, 179, 157, 183], [113, 139, 195, 122], [55, 88, 68, 117], [115, 185, 93, 102], [139, 82, 3, 165], [135, 29, 78, 11], [11, 16, 60, 123], [103, 191, 187, 129], [146, 181, 28, 192], [85, 73, 136, 139], [117, 179, 81, 183], [15, 131, 106, 28], [58, 78, 111, 65], [76, 11, 25, 103], [11, 90, 162, 129], [144, 1, 16, 33], [33, 172, 40, 72], [106, 83, 160, 151], [68, 159, 150, 64], [31, 79, 83, 15], [51, 140, 173, 10], [105, 80, 70, 21], [195, 80, 64, 129], [50, 96, 107, 82], [185, 150, 15, 143], [28, 71, 27, 57], [58, 13, 146, 78], [20, 71, 183, 44], [91, 44, 15, 87], [77, 157, 95, 110], [132, 28, 193, 49], [177, 87, 57, 41], [194, 175, 17, 20], [166, 64, 134, 150], [79, 74, 162, 168], [166, 149, 34, 117], [160, 170, 127, 44], [99, 41, 103, 155], [48, 127, 138, 68], [17, 3, 101, 94], [29, 102, 123, 158], [194, 60, 135, 179], [73, 192, 145, 168], [21, 94, 154, 143], [17, 10, 145, 131], [73, 29, 195, 199], [132, 189, 90, 100], [134, 32, 81, 119], [118, 37, 119, 27], [51, 78, 187, 86], [95, 8, 56, 29], [156, 162, 186, 127], [126, 111, 144, 59], [7, 140, 32, 75], [40, 0, 109, 92], [165, 175, 61, 103], [178, 68, 185, 119], [132, 105, 36, 80], [165, 117, 35, 176], [128, 49, 185, 9], [50, 176, 12, 198], [124, 164, 99, 102], [36, 30, 114, 147], [166, 172, 35, 14]])

In [8]:
y = [1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0]
y = np.array(y)

In [3]:
import numpy as np 
np.random.seed(2)

In [51]:
m = X.shape[0]
n = X.shape[1]
c = len(np.unique(y))

w = np.random.rand(n,c)
b = np.zeros((1,c))

z = np.dot(X,w) + b
a = np.exp(z)
a = a/np.sum(a,axis=1,keepdims=True)
y_hat = np.argmax(a,axis=1)
y_hat

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [33]:
w.shape

(4, 2)

In [35]:
X.shape

(100, 4)

In [55]:
round(1/(1+np.exp(0.4325)),2)

0.39