In [1]:
import pandas as pd

In [2]:
df_sachin = pd.read_csv("Sachin_ODI.csv")

df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Century,Won
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,No,No
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,No,No
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,No,Yes
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,No,Yes
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,No,No

In [4]:
df_sachin[["Century", "Won"]].value_counts()

Century  Won
No       No     160
         Yes    154
Yes      Yes     30
         No      16
dtype: int64

In [5]:
pd.crosstab(index=df_sachin["Century"], columns=df_sachin["Won"])

AttributeError: 'DataFrame' object has no attribute 'crosstab'