## Sachin Tendulkar Data analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sachin = pd.read_csv("sachin_odi.csv")

In [4]:
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Century,Won
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,No,No
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,No,No
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,No,Yes
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,No,Yes
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,No,No

In [5]:
df_sachin.shape

(360, 14)

### What is the proabability of India winning when Sachin is playing?

In [15]:
df_sachin["Won"].value_counts(normalize=True)

Yes    0.511111
No     0.488889
Name: Won, dtype: float64

In [12]:
data_where_india_won = df_sachin[df_sachin["Won"] == "Yes"]
len(data_where_india_won)

184

In [14]:
probability_of_winning = len(data_where_india_won) / len(df_sachin)
print(probability_of_winning)

0.5111111111111111

### Probability of Sachin scoring a century

In [16]:
df_sachin["Century"].value_counts()

No     314
Yes     46
Name: Century, dtype: int64

In [17]:
46 / (314 + 46)

0.12777777777777777

In [21]:
number_of_matches_with_century = df_sachin[df_sachin["Century"] == "Yes"]
total = len(df_sachin)
probability_of_century = len(number_of_matches_with_century) / total

In [22]:
print(probability_of_century)

0.12777777777777777

## Prabability that sachin scored a century and we won P(century intersection Won)

In [23]:
df_sachin[["Century", "Won"]].value_counts()

Century  Won
No       No     160
         Yes    154
Yes      Yes     30
         No      16
dtype: int64

In [24]:
probability_of_sachin_century_and_india_winning = 30 / 360
print(probability_of_sachin_century_and_india_winning)

0.08333333333333333

In [26]:
## Preetham's Question:
df_won = df_sachin[df_sachin["Won"] == "Yes"]
df_lost = df_sachin[df_sachin["Won"] == "No"]
avg_sachin_runs_when_india_win = df_won["runs"].mean()
avg_sachin_runs_when_india_lost = df_lost["runs"].mean()

print("Avg. runs when india won: ", avg_sachin_runs_when_india_win)
print("Avg. runs when india lost: ", avg_sachin_runs_when_india_lost)

Avg. runs when india won:  51.0
Avg. runs when india lost:  35.13068181818182