In [1]:
import pandas as pd 
import numpy as np

In [2]:
df  = pd.read_csv('Sachin_ODI.csv')

In [3]:
df.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Century,Won
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,No,No
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,No,No
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,No,Yes
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,No,Yes
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,No,No

### What is the proabability of India winning when Sachin is playing?

In [5]:
df['Won'].value_counts(normalize=True)

Yes    0.511111
No     0.488889
Name: Won, dtype: float64

### Probability of Sachin scoring a century

In [6]:
df['Century'].value_counts(normalize=True)

No     0.872222
Yes    0.127778
Name: Century, dtype: float64

## Prabability that sachin scored a century and we won P(century intersection Won)

In [8]:
df[['Century','Won']].value_counts(normalize=True)

Century  Won
No       No     0.444444
         Yes    0.427778
Yes      Yes    0.083333
         No     0.044444
dtype: float64