## Content

- **DT intuition**

- **How to split the nodes?**

- **Entropy**

- **Building a DT intuition**

- **Visualizing the process of building DT**

- **Scratch impl of DT (optional) - Post read**

- **Sklearn implementation**

## UseCase Intro: Employee Attrition
### You are a Data Scientist working at a Jio

- The company is facing a huge problem of employee attrition
- Your task is to help the company find a solution to this problem.

#### Why is attrition a problem?

  - A new employee asks for more compensation
  - Training of new employees
  - Lots of time and resources required for searching a new candidate

#### What can be done to solve the problem ?

1. Identify the employees who may leave in future.
  - Targeted approaches can be undertaken to retain such employees.
  - These might include addressing their problems with the company and so on ...

2. Help identify the key indicators/factors leading to an employee leaving.
  - #### What all reasons can you think of contributing to attrition ?
    - Forcing employees to come to office daily
    - Unhealthy culture etc
  - Identifying these key factors helps in taking better measures to improve employee retention

#### Dataset

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import io

In [ ]:
!gdown 16KtxSt_QEGQvfluEaMls5cCHPwhRXgCk

Downloading...
From: https://drive.google.com/uc?id=16KtxSt_QEGQvfluEaMls5cCHPwhRXgCk
To: /content/HR-Employee-Attrition.csv
100% 228k/228k [00:00<00:00, 91.6MB/s]

In [ ]:
df = pd.read_csv("HR-Employee-Attrition.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [ ]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

#### Summary of EDA and Preprocessing

<center><img src='https://drive.google.com/uc?id=1T1y2z8iVyZViUuOlEYlo9YETMoq_N9qd' width=600>

<center><img src='https://drive.google.com/uc?id=1HBd8-c4JDSqyHtFljx88EChNjsV1Qx6b' width=600>

We perform EDA followed by preprocessing on the data which is covered in the post read

#### Post Read - Employee Attrition Usecase

Employee EDA: https://colab.research.google.com/drive/1OdxmAv5q-92ll5Jf8XrDYQp-4-mitgC8?usp=sharing

#### Final dataset after preprocessing

In [ ]:
!gdown 19L3rYatfhbBL1r5MHrv-p_oM2wlvrhqk
!gdown 1OHLKJwA3qZopKPvlKoRldM6BvA1A4dYF
!gdown 1N7O_fWCTJLu8SIa_paKcDEzllgpMk8sK
!gdown 12Bh2AN8LcZAlg20ehpQrEWccUDaSdsOG

Downloading...
From: https://drive.google.com/uc?id=19L3rYatfhbBL1r5MHrv-p_oM2wlvrhqk
To: /content/preprocessed_X_sm.pickle
100% 534k/534k [00:00<00:00, 129MB/s]
Downloading...
From: https://drive.google.com/uc?id=1OHLKJwA3qZopKPvlKoRldM6BvA1A4dYF
To: /content/X_test.pickle
100% 111k/111k [00:00<00:00, 94.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1N7O_fWCTJLu8SIa_paKcDEzllgpMk8sK
To: /content/y_sm.pickle
100% 15.4k/15.4k [00:00<00:00, 68.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=12Bh2AN8LcZAlg20ehpQrEWccUDaSdsOG
To: /content/y_test.pickle
100% 9.49k/9.49k [00:00<00:00, 35.7MB/s]

In [ ]:
import pickle
# Load data (deserialize)
with open('preprocessed_X_sm.pickle', 'rb') as handle:
    X_train = pickle.load(handle)

with open('X_test.pickle', 'rb') as handle:
    X_test = pickle.load(handle)

with open('y_sm.pickle', 'rb') as handle:
    y_train = pickle.load(handle)

with open('y_test.pickle', 'rb') as handle:
    y_test = pickle.load(handle)

In [ ]:
# train data shape
X_train.shape

(1848, 36)

In [ ]:
# test data shape
X_test.shape

(368, 36)

In [ ]:
X_train.head()

,Age,DailyRate,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,...,YearsWithCurrManager,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,36,1174,3,4,0.233871,1,0,99,3,2,...,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,21,546,5,1,0.127479,3,1,97,3,1,...,2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,43,422,1,3,0.151584,4,0,33,3,2,...,2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,42,188,29,3,0.127479,2,1,56,1,2,...,0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4,35,992,1,3,0.127479,4,1,68,2,1,...,2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

## Entropy

Entropy is used to **measure the impurity** not purity
- i.e. it measures the hetrogenity of the node.


Fun fact:
- The concept of entropy comes from basic probability/ information theory
- where it is used to measure the randomness.

So,

More the hetrogenity in the node,
- larger the value of entropy will be and vice versa.

```
Quiz 7 - Try it yourself

In which of the cases will the entropy be minimum ?

A. A node will all datapoints belonging to one class only
B. Node with datapoints belonging to both class
C. Node with 100 datapoints with one datapoint belonging to positive and rest belonging to other class
D. Entropy is independent of proportion of datapoints in the node.


Ans: A. A node will all datapoints belonging to one class only


```

Since we want the **nodes** to be **pure**,
- we want **entropy** as **low** as possible.

Let's look into the fomulation of Entropy

### Entropy formulation

Say, Y be a **discrete random variable**.

- it can take **k discrete values** i.e y ∈ {$y_1, y_2, y_3, ..., y_k$}


#### How many discrete values of y do we have in employee attrition problem ?

Since, there are **two classes** (churn or stay),
- we have two discrete values for y in this case.

The formulation is given as:

<center><img src='https://drive.google.com/uc?id=1x1wfT0y6auF3NlpWcCMeFPIWeqHueLZT' width=600>

#### What will be the entropy for our binary case classification problem ?

<center><img src='https://drive.google.com/uc?id=1lHAGUBjV0TqdfAFqLGL9Q7-y7o_CfL_1' width=700>

Let's try to understand entropy for binary class case using an example

Say, we have 4 jars.
- Each jar is filled with balls

Balls are of two colors
- Red ball
- Blue ball

<center><img src='https://drive.google.com/uc?id=1AUz2RQgzVfgGnkhAGy1vtAufpR2j28Ev' width=700>

You have been asked to pick a ball from these 4 jars


#### Which jars will give you highest confidence on whether the ball you have picked is red or not ?

Jar 3 and 4 will give us highest confidence.
- As there jars are pure.
- So, we are pretty sure
    - We won't get a red ball in Jar 3
    - And we'll definately get red ball in Jar 4.

- In Jar 1,
    - which is impure (as it has both red and blue balls)
    - we won't have much confidence on whether the ball being picked is red or not.

Let's represent these confidence in numerical terms. i.e. **calculate entropy of each jar**.

<center><img src='https://drive.google.com/uc?id=1dQRwq9qLj5ZQKtzv4nl6M3CP7BjwUod1' width=800>

Notice that
- Jar with equal number of red and blue balls have highest entropy i.e. 1
- Jar with only red balls or blue balls has lowest entropy i.e. 0.

```
Quiz-8 - Check your understanding

Which of the following statements is true ?

a. More the entropy, more pure the node is.
b. Less the entropy, more impure the node is.
c. More the entropy, more homogenous the node is.
d. Less the entropy, more homogenous the node is.


Correct option: d. Less the entropy, more homogenous the node is


Explanation:
- More pure the node is i.e. more homogenous
    - less will be the entropy.

```



` Quiz 9 - Try it yourself`

```
At what probability value will the entropy value be maximum for binary class?

A. 0
B. 0.5
C. 0.33
D. 1


Ans: B. 0.5

```

Let's understand it by plotting the the curve

#### Plotting entropy

Let's plot entropy for binary system and see how it looks like:

Desmos plot: https://www.desmos.com/calculator/avaplvktso

In [ ]:
from IPython.display import IFrame

In [ ]:
IFrame(src="https://www.desmos.com/calculator/avaplvktso", width=700, height=375)

Notice that
- Value of entropy is maximum
    - when the probability is 0.5 i.e. equal number of datapoints for each class
- Entropy value is minimum (Entropy = 0 )
    - when the probability P(Y = 1) is either 0 or 1 (pure node)

#### Visualization for entropy

In case you want to how entropy changes as number of datapoint changes, here's a visualization for that.

https://mlu-explain.github.io/decision-tree/


<center><img src='https://drive.google.com/uc?id=14IvM3S60i8EExtGlHm_Jt8T0N45F42VH' width=800>

**Conclusion:**
- Entropy is **maximum** when the node is **impure** (P(Y =1) = 0.5) i.e. 1
- Entropy is  **minimum** when the node is **pure** i.e. 0
- Entropy lies between 0 and 1.

Now, that we have learnt about purity and how to use entropy to calculate that.

Let's see how Decision Trees uses it for internal working

```
Quiz 10 - Check your understanding

What will the value of entropy for following distribution of datapoints in node:

Positive class: 50
Negative class: 0


Options:
A. 0.33
B. 1
C. -1
D. 0

Answer: D. 0


Explanation:
- Since it is a pure node, it's entropy will be 0 .

```

## How Decision Tree works? Building a DT intuition

Let's understand it using a dummy example.


Consider a dataset with 100 datapoints
- and 2 features (Gender , Age < 35 )


<center><img src='https://drive.google.com/uc?id=1rjw7epTMltvY4QVpbO_yJ4u1DtUhzpyy' width=800>

#### Can we use this root node for predicition ?

No. We can't. It is highly hetrogenous

Hence, it'll have a high entropy.

Let's calculate its entropy



<center><img src='https://drive.google.com/uc?id=17rs_8_aqjDX9o_qEbKutxx82ul3NmJ0p' width=800>

So, we should split the node in order to reduce the entropy.
- and make it homogenous.

We have two features with us. i.e. Gender and Age < 35.



<center><img src='https://drive.google.com/uc?id=124uJms16f7eIxw4_5WwhGc0tIMHVt9Fd' width=800>

#### Which feature shall we use for splitting ?

We don't know until we calculate the entropy of split for the feature.

#### Splitting using Gender feature

Let's first split using Gender feature


When we split using gender
- we get two child nodes
- one for Male
- other for Female.



<center><img src='https://drive.google.com/uc?id=1iyYqbJTmvaM1yGQaUlI0fAzV4T8JhUqk' width=800>

Let's calculate the entropy of child to check whether the entropy has reduced or not



<center><img src='https://drive.google.com/uc?id=1IblNbE0nmQadijkdrjh0AJv8d10NLNQ9' width=800>



<center><img src='https://drive.google.com/uc?id=1_tWend5rLS3cy8jw8XFFQWi_Q4ksxmEe' width=700>

Now that we have calculated entropy of parent as well as both child
- we need to check if there is a reduction in entropy.

But, each child node has an entropy value.
- In order to see the reduction in entropy,
    - we first need to combine the child entropy to get a single value out of it.
    - then we can compare it with parent entropy.

#### How do we combine child entropy ?

```
Quiz 11 - Try it out

Which strategy should we use for combining child entropy?

A. Simple average
B. Weighted average
C. Median of child entropy
D. Maximum of child entropy


Ans: B. Weighted average

```

**Simple average?**

- When we take simple average,
    - we are ignoring the proportions of datapoints belonging to each node

There can be a case where
- Child 1 contains 98 datapoints
- Child 2 contains 2 datapoints

We should include the number of datapoints it is impacting while calculating combined entropy.


So, we should take **weighted average** in this case.

#### How do we calculate weighted entropy of child nodes ?

We simply do so by multiplying the datapoint proportion with its entropy value



<center><img src='https://drive.google.com/uc?id=1PI1jQrmsvCOBySr71kC-Pcmui314Pvfn' width=700>

There is a slight reduction in weighted child entropy (0.88) compared to parent entropy (0.97)

- So, we are moving towards purer nodes.

This **reduction in entropy** i.e. Parent - weight entropy of child is termed as **Information gain**



<center><img src='https://drive.google.com/uc?id=1yCnBggqgcUyQlk8FMaVFhwffXJ_osKP1' width=700>

We can say that we want to
- **maximize information gain**
- or **minimize entropy**

We want to maximize information gain.

So, there is chance that there is some other feature
- which is providing more information gain than Gender feature

So, we should use that feature instead.

This means we should calculate Information gain for Age < 35 feature as well

```
Quiz 12 - Check your understanding

Which of the following statement related to Information gain is false ?


a. Information gain is defined as reduction in entropy.
b. We want to maximize information gain
c. It is calculated by subtracting weighted child entropy from parent entropy.
d. It is calculated by subtracting parent entropy from weighted child entropy


Correct option : d. It is calculated by subtracting parent entropy from weighted child entropy

```

#### Splitting using Age < 35 feature



<center><img src='https://drive.google.com/uc?id=1CQf19m7dRznESi4boe9p3bN3jUmx16xM' width=700>

Now, we calculate the weighted entropy of child



<center><img src='https://drive.google.com/uc?id=1XgZfEV-sWoYHIrqnmEh_VUKtNw8yT_Li' width=700>

and lastly using both parent and weighted entropy,

we calculate the information gain using Age < 35



<center><img src='https://drive.google.com/uc?id=1-jeaTntSBAjSSVhK7COj84qH0lAtlJk7' width=700>

The information gain for each feature is as follows:

- $I_G(Parent, Age < 35) = 0.257$
- $I_G(Parent, Gender) = 0.091$

#### Which feature shall we pick to split the root node ?

We pick feature s.t it gives us maximum information gain
- In this case, splitting using Age < 35 is giving us maximum information gain.
    - So, we'll pick it to split our root node.

Let's split our node using Age<35 feature



<center><img src='https://drive.google.com/uc?id=1Sqt0j06cqRBoZZudrxKGYFXL_Y8ORvv4' width=700>

Let's talk about left child node

#### Has the entropy of left child node reduced to 0 or close to 0 ?

No.
- Although the entropy is lower than before
- but it is still an impure node.

In order to achieve more confidence in prediction,
- we should further split this node.

Again, in order to split this node
- we'll calculate information gain using features
- say, these features are gender, salary, years of experience.


Whichever feature gives us the maximum information gain,
- we'll split the node using that feature.

Assume that gender gave us highest info. gain,
- we'll split this node using gender




<center><img src='https://drive.google.com/uc?id=1KrHe9ZzRPo_lenh38cW-IAl3TjW3z1cp' width=700>

We continue doing so
- until we get purer nodes
- i.e. confidence in prediction is high.

#### What happens if we have more than 2 categories for a feature ? How do we split in that case ?

In case where there are more than 2 categories in a feature,
- we simply make a child node for each category




<center><img src='https://drive.google.com/uc?id=1ZnLjc2fDdy42iC-j3Ly6QXRzjWhqc_XD' width=700>

```
Quiz 13 - Check your understanding

We calculated information gain for 3 features which is as follows:

Feature 1 : 0.3
Feature 2 : 0.03
Feature 3: 0.2


Which feature would you pick for splitting the node ?

A. Feature 1
B. Feature 2
C. Feature 3

Ans: A. Feature 1


Explanation:
- We want to pick feature which gives us maximum information gain.
- Hence, we'll pick Feature 1

```

## Visualizing the process of building DT



link: https://drive.google.com/file/d/1CBFhQ2bYf81kTN-x_T6B1hcbIVqbXjAz/view?usp=sharing

paper: https://opus.bibliothek.uni-augsburg.de/opus4/frontdoor/deliver/index/docId/79711/file/ECML_PKDD_Decision_Tree_Learning.pdf

Steps to follow:
1. Unzip the file
2. Launch index.html to launch the project
3. Go to Data (top right) -> Import training data -> data.csv

4. Dataset are present in folder named "Files". You can move your custom dataset into that folder. However, there are few limits on number of columns and format of data (csv)

It contains data for attrition use case (3 features)
- Gender
- Age < 35
- Marital Status


4. Select Mode as "Stepwise". It'll build DT node by node.

5. Click on build.

6. Click build again to move to next stage of DT

For each stage, you can view the information gain on left pane of window.

<img src='https://drive.google.com/uc?id=14isfl0c12jpwLRMcuLI1WleLQh5UP3zo' width = 700>

<center><img src='https://drive.google.com/uc?id=1_gayxjqaf_WaasqCbApkU10Q-Xi5EflL' width=800>

Now that we have learnt how decision tree works.

Let's try to implement it from scratch

## (Optional) Post Read - Scratch impl of DT

link : https://colab.research.google.com/drive/1QpgOv1W8x_l81GPN6ebQTb58eqA0RaNm?usp=sharing